body {
    background-image: url("../assets/background.png");
    position: relative;
}

/* all sections */
#pens, #paper, #others, #themes {
    width: 90%;
    margin: 0 5px 0 5px;
}

/* nav bar */
#nav {
    display: flex;
    position: fixed;
    right: 5px;
    width: 10%;
    z-index: 1000;
    flex-direction: column;
}
.nav__el {
    display: flex;
    width: 10vw;
}
.nav__link-active, a:active {
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
    color: #000;
}
#nav a:hover {
    font-weight: bold;
    font-size: 18px;
}
.nav__link a {
    text-decoration: none;
    font-size: 17px;
    color: #000;
}

/* scrolling gallery */
.gallery {
    overflow: hidden;
    white-space: nowrap;
    width: 83%;
    margin-left: 3%;
}
.gallery ul {
    animation: marquee 25s linear infinite;
}
.gallery2 ul {
    animation-delay: 0.5s;
}
.gallery ul li {
    display: inline;
    margin: 0 10px 0 10px;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
.gallery img {
    height: 200px;
    width: 200px;
}

/* header */
.page-header p {
    font-family: Alegreya Sans SC;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
h1 {
    background-image: url("../assets/header.jpeg");
    background-size: contain;
    text-align: center;
    font-size: 100px;
    font-family: Alegreya Sans SC;
    font-weight: bold;
    color: lavender;
    text-shadow: 0 0 10px #000;
    margin-bottom: 0;
}

/* supplies */
.pens, .three {
    align-content: center;
}
.figures {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.pens figure, .three figure {
    display: inline-block;
    margin: 0 auto 0 auto;
}
.pens img, .three img {
    width: 200px;
    height: 200px;
}
figcaption {
    text-align: center;
    font-family: Alegreya Sans SC;
    font-size: 17px;
}
h2 {
    font-family: Alegreya Sans SC;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

/* themes */
.table-setup {
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    border-collapse: collapse;
}
td {
    font-size: 20px;
    background-color: white;
    padding: 5px 0 5px 0;
}
th {
    font-size: 25px;
    background-color: mediumpurple;
}
td, th {
    text-align: center;
    font-family: Alegreya Sans SC;
    width: 300px;
    border: 1px solid black;
}

/* footer */
.footer {
    background-color: lavender;
    font-family: Alegreya Sans SC;
    text-align: center;
}