body {
    background-image: url("../images/background.png");
}
.page-header p {
    font-family: Alegreya Sans SC;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
h1 {
    background-image: url("../images/header.jpg");
    text-align: center;
    font-size: 100px;
    font-family: Alegreya Sans SC;
    font-weight: bold;
    color: rebeccapurple;
    margin-bottom: 0;
}
.pens figure {
    display: inline-block;
    padding-left: 1.7em;
}
.three figure {
    display: inline-block;
    padding-left: 7em;
}
figcaption {
    text-align: center;
    font-family: Alegreya Sans SC;
    font-size: 17px;
}
h2 {
    font-family: Alegreya Sans SC;
    font-size: 30px;
    font-weight: bold;
    padding-left: 1em;
    text-align: center;
}
.footer {
    background-color: lavender;
    font-family: Alegreya Sans SC;
    text-align: center;
}
.table-setup {
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    border-collapse: collapse;
}
td {
    font-size: 25px;
    background-color: white;
}
th {
    font-size: 30px;
    background-color: mediumpurple;
}
td, th {
    text-align: center;
    font-family: Alegreya Sans SC;
    width: 300px;
    height: 50px;
    border: 1px solid black;
}