body, html {
	margin: 0;
	padding: 0;
}
html {
	/* not supported by IE, Safari */
  	scroll-behavior: smooth;
}
body {
	background-color:#363430;
	position: relative;
	overflow-x: hidden;
}

/* all sections */
p a, p a:active, li a, li a:active {
	color: white;
}

/* nav bar */
.topnav {
	position: fixed;
	width: 100%;
	z-index: 999;
}
.topnav #nav {
	background-color: rgba(255, 255, 255, 0.1);
}
#navLinks {
	padding: 1% 0 1% 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.nav-element {
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-left: 1vw;
}
#nav a:hover {
	font-weight: bold;
	font-size: 18px;
}
.nav__link, .nav__link-active, .nav__link a, .nav__link-active a {
	font-family: 'Trebuchet MS';
	color: white;
	margin-right: 1em;
}
.nav__link-active, .nav__link-active a {
	text-decoration: underline;
	font-weight: bold;
	font-size: 18px;
}
.nav__link a {
	text-decoration: none;
	font-size: 17px;
}
.nav__moon-active, .nav__moon-hidden {
	height: 1vw;
	width: 1vw;
	margin-right: 5px;
}
.nav__moon-hidden img {
	height: 0%;
	width: 0%;
}
.hamburgerNav {
	display: none;
}
@media screen and (max-width: 600px) {
	.hamburgerNav {
		display: block;
		padding: 5% 5%;
		text-decoration: none;
		float: right;
		width: 5vh;
	}
	.topnav #nav {
		background-color: rgba(0, 0, 0, 0.8);
	}
	#navLinks {
		display: none;
	}
	.topnav #nav {
		background-color: none;
	}
	.topnav a:hover {
		background-color: #2b2b2b;
	}
	.nav__moon-active, .nav__moon-hidden {
		height: 3vw;
		width: 3vw;
	}
}

/* home */
#home {
	display: flex;
	height: 100vh;
	margin: 0 4vw 0 4vw;
	align-items: center;
}
.home-img {
	width: 25%;
	margin-left: 2%;
}
.home-img img {
	width: 100%;
}
.home-content {
	width: 70%;
	margin-left: 3%;
}
.home-title {
	font-size: 5vw;
	font-family: Alegreya Sans SC;
	font-weight: bold;
	color: white;
	overflow: hidden;
	border-right: .15em solid white;
	white-space: nowrap;
	animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from {width: 0;}
  to {width: 85%;}
}
@keyframes blinkTextCursor{
  from {border-right-color: white;}
  to {border-right-color: transparent;}
}
.home-blurb {
	font-family: 'Trebuchet MS';
	font-size: 24px;
	color: white;
	word-break: break-word;
}
@media (max-width: 767px) {
	#home {
		flex-direction: column-reverse;
	}
	.home-title {
		width: 100%;
		font-size: 6vw;
	}
	.home-blurb {
		font-size: 16px;
	}
	.home-img {
		margin-top: 10vh;
		width: 60%;
	}
	.home {
		justify-content: center;
	}
}
@media (min-width: 481px) and (max-device-width: 1024px) {
	
}

/* about */
#about {
	margin: 0 4vw 0 4vw;
	display: flex;
	height: 100vh;
	align-items: center;
}
.about-content {
	color: white;
	font-size: 1em;
	width: 70%;
}
.about-title {
	font-size: 3em;
	font-family: Alegreya Sans SC;
	margin-bottom: 5%;
}
.about-body {
	font-size: 1rem;
	word-break: break-word;
	font-family: 'Trebuchet MS';
}
.about-img {
	width: 30%;
}
.about-img img {
	width: 100%;
}
@media (max-width: 767px) {
	#about {
		flex-direction: column-reverse;
		justify-content: center;
		margin-bottom: 10vh;
	}
	.about-content {
		width: auto;
	}
	.about-img {
		margin-bottom: 5vh;
		width: 50%;
	}
}

/* projects */
#projects {
	align-items: center;
	margin: 0 4vw 10vh 4vw;
	color: white;
}
.projects-title {
	font-size: 3em;
	font-family: Alegreya Sans SC;
	margin-bottom: 2%;
}
.projects-body {
	display: flex;
	flex-direction: column;
	font-family: 'Trebuchet MS';
}
.projects-body .card {
	background-color: #2b2b2b;
	border: 1px solid white;
	box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2);
	border-radius: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5%;
}
.projects-body .card:hover {
	box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2);
}
.projects-body .card img {
	width: 20vw;
	margin: 2vh 1vw 2vh 1vw;
	border-radius: 10px;
}
.project {
	color: white;
	font-size: 1em;
	display: inline-block;
	vertical-align: top;
	word-break: break-word;
	margin-left: 2vw;
}
.project li {
	margin-bottom: 2vh;
}
.projects-bottom {
	margin-top: 5%;
	margin-bottom: 2%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.button {
	font-family: 'Trebuchet MS';
	font-size: 1em;
	color: black;
	font-weight: bold;
	background-color: white;
	border-radius: 10px;
	float: right;
	margin-right: 5%;
	border: none;
	padding: 4px 10px 4px 10px;
	height: 100%;
	box-shadow: 4px 4px 2px rgba(255,255,255,0.3);
}
.button:hover {
	background-color: lightgrey;
	cursor: pointer;
}
.button:active {
	background-color: lightgrey;
	cursor: pointer;
	transform: translate(4px, 4px);
	box-shadow: 0 5px lightgrey;
}
.labels {
	display: flex;
	flex-wrap: wrap;
}
.label {
	border-radius: 20px;
	padding: 2px 6px 2px 6px;
	color: #2b2b2b;
	font-size: 0.9em;
}
.labelFigma {
	background-color: #FF586C;
}
.labelReact {
	background-color: #2CDACF;
}
.labelJs {
	background-color: yellow;
}
.labelHtml {
	background-color: darkorange;
}
.labelBs{
	background-color: plum;
}
.labelCss {
	background-color: deepskyblue;
}
.labelNode {
	background-color: darkseagreen;
}
.labelExp {
	background-color: ghostwhite;
}
.labelMongo {
	background-color: limegreen;
}
.labelPostgresql {
	background-color: lightsteelblue;
}
.labelTs {
	background-color: dodgerblue;
}
.labelAd {
	background-color: indianred;
}
@media (max-width: 700px) {
	.projects-body .card, .projects-bottom {
		flex-direction: column-reverse;
	}
	.projects-body .card img {
		width: 40vw;
	}
	.label {
		font-size: 12px;
	}
	.button {
		margin-bottom: 5vh;
	}
}

/* project modal */
.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	font-family: 'Trebuchet MS';
}
.modal-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 2vw 0 2vw;
}
.modal-header h1 {
	color: white;
}
.close {
	color: lightslategrey;
	float: right;
	font-size: 35px;
	font-weight: bold;
}
.close:hover, .close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.modal-content {
	background-color: #2b2b2b;
	border-radius: 20px;
	width: 80%;
	padding: 20px;
	margin: 15% auto;
	text-align: center;
	border: 1px solid white;
}
#project1Modal img {
	border-radius: 20px;
	width: 85%;
}

/* design */
#design {
	align-items: center;
	margin: 0 4vw 10vh 4vw;
	color: white;
}
.design-title {
	font-size: 3em;
	font-family: Alegreya Sans SC;
}
.design-body {
	display: flex;
	flex-direction: column;
	font-family: 'Trebuchet MS';
}
.design-body p {
	font-size: 1rem;
	word-break: break-word;
	margin-bottom: 5%;
}
.design-body .card {
	background-color: #2b2b2b;
	border: 1px solid white;
	box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2);
	border-radius: 10px;
	margin-bottom: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.design-body .card:hover {
	box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2);
}
.design-body .card img {
	width: 20vw;
	margin: 2vh 1vw 2vh 1vw;
	border-radius: 10px;
}
.design {
	color: white;
	font-size: 1em;
	display: inline-block;
	vertical-align: top;
	word-break: break-word;
	margin-left: 2vw;
}
.design li {
	margin-bottom: 2vh;
}
.design-bottom {
	margin-top: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2%;
}
.labelAI {
	background-color: orange;
}
.labelPS {
	background-color: lightskyblue;
}
.button a, .button a:active {
	text-decoration: none;
	color: black;
}
.design2 {
	margin-left: 2vw;
}
.graphicDesign {
	display: flex;
	flex-direction: column;
}
.graphicDesign h1 {
	display: flex;
	justify-content: center;
	font-family: 'Trebuchet MS';
	font-size: 2em;
}
.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	grid-gap: 2em;
}
.card-vert {
	background-color: #2b2b2b;
	border: 1px solid white;
	box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2);
	border-radius: 10px;
	width: 30vw;
	height: 30vw;
	margin-bottom: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.card-vert:hover {
	box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2);
}
.card-vert img {
	width: 25vw;
	margin: 2vh 1vw 2vh 1vw;
	border-radius: 10px;
}
.card-vert .caption {
	margin-bottom: 2vw;
}
@media (max-width: 700px) {
	.graphicDesign {
		align-items: center;
	}
	.graphicDesign .row, .design-body .card, .design-bottom {
		flex-direction: column-reverse;
	}
	.graphicDesign .row {
		margin-bottom: 4vh;
	}
	.card-vert {
		width: 70vw;
		height: 70vw;
	}
	.design-body .card img, .card-vert img {
		width: 50vw;
	}
}

/* art */
#art {
	margin: 0 4vw 0 4vw;
	color: white;
	align-items: center;
}
.art-title {
	font-size: 3em;
	font-family: Alegreya Sans SC;
}
.art-body {
	display: flex;
	flex-direction: column;
	font-family: 'Trebuchet MS';
}
.art-body p {
	font-size: 1rem;
	word-break: break-word;
	margin-bottom: 1vh;
}

/* scrolling gallery */
.gallery {
  overflow: hidden;
  white-space: nowrap;
}
.gallery ul {
  animation: marquee 20s linear infinite;
}
.gallery3 ul {
  animation-delay: 0.5s;
}
.gallery2 ul {
	animation: marquee2 20s linear infinite;
}
.gallery ul li {
  display: inline;
  margin: 0 10px 0 10px;
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-65%, 0); }
}
@keyframes marquee2 {
  0%   { transform: translate(-65%, 0); }
  100% { transform: translate(0, 0); }
}
.gallery img {
  height: 200px;
  width: auto;
  border-radius: 20px;
}
@media (max-width: 767px) {
	.gallery ul {
	  animation: marquee 10s linear infinite;
	}
	.gallery2 ul {
		animation: marquee2 10s linear infinite;
	}
}

/* footer */
.footer {
	background-color: white;
	font-family: Alegreya Sans SC;
	text-align: center;
	z-index: 1000;
	height: 7vh;
	width: 100vw;
	padding-top: 10px;
	margin-top: 5vh;
}
.footer-socials {
	display: flex;
	justify-content: center;
}
.footer img {
	width: 4vh;
	margin: 0 2vw 0 2vw;
}